.right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    padding: 10px;
  }
  img {
    border-radius: 10%;
  }
  .center {
    text-align: center;
    border: 3px solid green;
  }